nav {
  top: 0;
  font-family: 'Futura LT Light', sans-serif;
}
.navigation {
  top: 0;
  width: 100%;
  display: inline;
  height: 70px;
}
ul li {
  margin: 0 15px;
  border-radius: 4px;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
}
a {
  text-decoration: none;
  color: black;
}
.left-div {
  float: left;
  margin-top: 10px;
  margin-left: 30px;
}
.nc-home {
  font-family: 'Futura LT Book', sans-serif;
  font-size: 36px;
  color: rgb(41,141,116);
}
.p-home {
  margin-top: 0;
  color: rgb(42,124,111);
}
.right-div {
  float: right;
}
.content{
  margin-top: 100px;
  position: fixed;
}
.badge:after{
  content:attr(value);
  font-size:12px;
  background: rgb(42,124,111);
  border-radius:50%;
  padding:3px;
  position:relative;
  left:-8px;
  top:-10px;
  opacity:0.9;
}
.left-part {
  position: relative;
  bottom: 10px;
  color: rgb(42,124,111);
}
.svg-icon {;
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: rgb(42,124,111);
}

.svg-icon circle {
  stroke: rgb(42,124,111);
  stroke-width: 1;
}
#footer-part {
  position: relative;
  grid-area: 4/1/5/2;
}
.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  background: rgb(42,124,111);
}
.fb {
 color: aliceblue;
  font-family: 'Futura LT Light', sans-serif;
  font-size: 12px;
}
