<div>
    <h2>Account Information </h2>
    <fieldset *ngIf="logged">
      <input type="text" [(ngModel)]="user.name" placeholder="Name"><br>
      <input type="text" [(ngModel)]="user.password" placeholder="Password"><br>
      <input type="text" [(ngModel)]="user.phone" placeholder="Phone"><br>
      <input type="text" [(ngModel)]="user.email" placeholder="Email"><br>
      <button (click)="updateInfo()">Save</button>
      <button (click)="logout()" routerLink="/home">Logout</button>
    </fieldset>
</div>
