<div class="body">
  <div class="sign-up-page">
    <div class="sign-up">
      <h1>Sign Up</h1>
    </div>
    <div class="fa-sign-up">
      <div class="to-login">
        <span>Already a member?</span>
        <button class="to-login-button" routerLink="/login">Log in</button>
      </div>
      <form>
        <div class="input-labels">
          <div class="auth-email">
            <div class="label">
              <label>Email</label>
            </div>
            <div class="input">
              <input>
            </div>
          </div>
          <div class="auth-pass">
            <div class="label">
              <label>Password</label>
            </div>
            <div class="input">
              <input>
            </div>
          </div>
        </div>
        <div class="sign-up-bttn">
          <button id="sign-up-bttn" type="submit"><span>Sign up</span></button>
        </div>
      </form>
    </div>
  </div>
</div>
